.py-2 {
    padding-top: 0.05rem!important;
    padding-bottom: 0.05rem!important;
}
.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}


 #header{
  background-color: #ccc;
 }
 #sidebar{
     background-color: #bbb;
     float: right;
     width: 33.33%;

}
#main{
      background-color: #fafafa;
      height: 200px;
      width: 100%;
      font-size: 11px;
      color: #2f5687;
}
#main_2{
      background-color: #fafafa;
      height: 200px;
      margin-left: 58%;


}


#content{
    background-color: #eee;
    width: 100%;

}
#footer{
    background-color: #ccc;
}
.container{
     width: 100%;

}
 .grid-container {
    display: inline-grid;
 }

 .grid-item {


 }