
    /*Hidden class for adding and removing*/
    .lds-dual-ring.hidden {
        display: none;
    }

    /*Add an overlay to the entire page blocking any further presses to buttons or other elements.*/
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.8);
        z-index: 999;
        opacity: 1;
        transition: all 0.5s;
    }

    /*Spinner Styles*/
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 5% auto;
        border-radius: 50%;
        border: 6px solid #fff;
        border-color: #fff transparent #fff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }





      /* Стили для скролла */
      ::-webkit-scrollbar {
      	width: 6px;
      }
      ::-webkit-scrollbar-track {
      	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
      ::-webkit-scrollbar-thumb {
      	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }

.fixed_header {
         margin:1px;
                        padding:1px;

                        width: 100%;
                        height: 850px;
                        overflow: auto;

      }
      .hide_minMatrix{
      display: none;

      }



            tbody, thead tr { display: block; }

            .tbody {
                height: 250px;
                overflow-y: auto;
                overflow-x: hidden;

            }

            tbody td, thead th {
                width: 300px;
                 font-size: 08px;
                overflow: hidden;

            }


 table {width: 100%; border-collapse: separate; border-spacing: 1px;}
.table thead tr {color: #ffffff; border-radius: 20px 20px 0 0; font-weight: bold;}
.table thead tr td {border-radius: 4px 4px 0 0; background: #2e82c3;}
.table tbody tr td {border:  1px solid #2e82c3; border-radius: 1px; background: #cbdfef;}
.table tbody tr td:hover {background: #a2c3dd; transition-duration: 0.2s;}
 tbody, thead tr { display: block; }


            .table thead tr {color: #ffffff; font-weight: bold; background: #606060;}
            .table tr td {border-right: 1px solid #dfdfdf;}
            .table tr td:last-child {border-right: 0px;}
            .table tbody tr:nth-child(1n) {background: #f6f6f6;}
            .table tbody tr:nth-child(2n) {background: #e6e6e6;}
            .table tbody tr:hover {background: #ffe8e8; transition-duration: 0.6s;}



