<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/JS/ClothesPhones.js}"></script>
    <link rel="stylesheet" th:href="@{/CSS/ButtonsPhoneDistribution.css}"/>
    <title th:text="${title}"/>
</head>


<body class="py-4">

<main>
    <div class="container-fluid themed-container"><!-- Nav tabs -->
        <header>
            <div class="px-3 py-2 bg-dark text-white">

                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/entrance" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#home"></use>
                                </svg>
                                <ya-tr-span data-index="50-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value=" Home " data-translation=" Главная "
                                            data-type="trSpan"> Главная
                                </ya-tr-span>
                            </a>
                        </li>
                        <li>
                            <a href="ClothingMatching" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#speedometer2"></use>
                                </svg>
                                <ya-tr-span data-index="51-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value=" Dashboard "
                                            data-translation=" Номенклатура одежды для телефонов " data-type="trSpan">
                                    Номенклатура одежды для телефонов
                                </ya-tr-span>
                            </a>
                        </li>
                        <li>
                            <a href="/loading" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#table"></use>
                                </svg>
                                <ya-tr-span data-index="52-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value=" Orders " data-translation=" Заказы "
                                            data-type="trSpan"> Загрузки
                                </ya-tr-span>
                            </a>
                        </li>
                        <li>
                            <a href="/MovementsPhone" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#grid"></use>
                                </svg>
                                <ya-tr-span data-index="53-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value=" Products "
                                            data-translation=" Перемещения "
                                            data-type="trSpan"> Перемещения
                                </ya-tr-span>
                            </a>
                        </li>
                        <li>
                            <a href="/OrderPhone" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                <ya-tr-span data-index="54-0" data-translated="true" data-source-lang="en"
                                            data-target-lang="ru" data-value=" Customers " data-translation=" Заказ "
                                            data-type="trSpan"> Заказ
                                </ya-tr-span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </header>
        <br>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#home1">СТЕКЛО</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#menu1">ЧЕХОЛ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#menu2">ЧЕХОЛ-КНИЖКА</a>
            </li>

        </ul>


        <div class="tab-content">

            <div id="home1" class="container-fluid tab-pane fade"><br>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="table_Glass">
                                <table class="table-borderless">
                                    <thead>
                                    <tr>
                                        <th>МОДЕЛЬ</th>
                                        <th>ОСТАТОК СК1</th>
                                        <th>ОСТАТОК СК2</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="current : ${RemainsGroupCash}" th:if="${current.view == 'Glass'}">

                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block" th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>

                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>

                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">


                            <div class="remainsGroupShopGlass" th:fragment="remainsGroupShopGlass">


                                <table class="table-borderless">
                                    <thead>
                                    <tr>
                                        <th>ТТ</th>
                                        <th>ОСТАТОК</th>
                                        <th>ОСТАТОК ТЕЛ</th>
                                        <th>ПРОД 1М</th>
                                        <th>ПРОД 6/3М</th>
                                        <th>ПОТРЕБНОСТЬ</th>

                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="current:${RemainsGroupShop}">
                                            <span th:if="${current.view == 'Glass'}">
                                            <td>
                                                <button class="btn btn-primary btn-sm btn-block"
                                                        th:text="${current.shop}"
                                                        type="submit"></button>
                                            </td>
                                            <td th:text="${current.remainsShop}"></td>
                                            <td th:text="${current.remainsPhone}"></td>
                                            <td th:text="${current.sale1}"></td>
                                            <td th:text="${current.sale6}"></td>
                                            <td th:text="${current.order}"></td>


                                            </span>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div class="row">
                            <div class="table" id="table_clotherRemanisClass">
                                <table class="table-responsive table-hover" id="tables_clotherRemanisClass">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 themed-grid-col">

                        <div class="remainsGroupShopGlassAll" th:fragment="remainsGroupShopGlassAll">
                            <table class="table-borderless table-hover" >
                            <thead>
                            <tr>
                                <th id="TT_Glass">------ТТ-----</th>
                                <th>ОСТАТОК</th>
                                <th>ОСТАТОК ТЕЛ</th>
                                <th>ПРОД 1М</th>
                                <th>ПРОД 6/3М</th>
                                <th>ПОТРЕБНОСТЬ</th>
                                <th>СКЛАД 1</th>
                                <th>СКЛАД 2</th>
                            </tr>
                            </thead>
                            </table>
                            <div class="fixed_header">

                                <table class="table-borderless table-hover" >


                                    <tbody class="labels" th:each="current:${remainsGroupShopAll}" >

                                    <tr style="border:2px solid rgb(240, 240, 240);">
                                    <span th:if="${current.view == 'Glass'}">
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block minMatrix"
                                                    th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                       </span>
                                    </tr>

                                    <tr th:each="currents:${current.all}" class="hide_minMatrix">
                                        <td th:text="${currents.nomenclature}"></td>
                                        <td th:text="${currents.remainsShop}"></td>
                                        <td th:text="${currents.remainsPhone}"></td>
                                        <td th:text="${currents.sale1}"></td>
                                        <td th:text="${currents.sale6}"></td>
                                        <td > <input name="" id=" " class="changeGlass" th:value="${currents.order}"></td>
                                        <td th:text="${currents.remainsCash1}"></td>
                                        <td th:text="${currents.remainsCash2}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="remainsCashGlass" th:fragment="remainsCashGlass">
                                <div class="table_CashGlass">
                                    <table class="table-borderless">
                                        <thead>
                                        <tr>
                                            <th id="Model_Glass">МОДЕЛЬ</th>
                                            <th>cash</th>
                                            <th>cash1</th>

                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <tr th:each="current : ${RemainsCash}">
                                        <span th:if="${current.view == 'Glass'}">
                                        <td th:text="${current.nomenclature}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                        </span>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="table_OrderRecommendations">
                            <table class="table-borderless">
                                <thead>
                                <tr>
                                    <th>МОДЕЛЬ</th>
                                    <th>ОСТАТОК ТЕЛ</th>
                                    <th>ОСТАТОК ТТ</th>
                                    <th>ПРОД 1М</th>
                                    <th>ПРОД 6/3М</th>
                                    <th>ПОТРЕБНОСТЬ</th>


                                </tr>
                                </thead>
                                <tbody class="tbody">
                                <tr th:each="current : ${OrderRecommendations}">
                                        <span th:if="${current.view == 'Glass'}">
                                        <td th:text="${current.group}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>

                                        </span>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row mb-3 text-center">
                            <a href="/ExselFileExporteClotingPhone" class="btn">EXSEL</a>
                        </div>

                    </div>


                </div>
            </div>

            <div id="menu1" class="container-fluid tab-pane fade"><br>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="table_Case">
                                <table class="table-borderless">
                                    <thead>
                                    <tr>
                                        <th>МОДЕЛЬ</th>
                                        <th>ОСТАТОК СК1</th>
                                        <th>ОСТАТОК СК2</th>


                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="current : ${RemainsGroupCash}">
                                        <span th:if="${current.view == 'Case'}">
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block" th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>

                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                        </span>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">


                            <div class="remainsGroupShopCase" th:fragment="remainsGroupShopCase">
                                <div class="table_NameSimShop">
                                    <table class="table-borderless">
                                        <thead>
                                        <tr>
                                            <th>ТТ</th>
                                            <th>ОСТАТОК</th>
                                            <th>ОСТАТОК ТЕЛ</th>
                                            <th>ПРОД 1М</th>
                                            <th>ПРОД 6/3М</th>
                                            <th>ПОТРЕБНОСТЬ</th>

                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <tr th:each="current:${RemainsGroupShop}">
                                            <span th:if="${current.view == 'Case'}">
                                            <td>
                                                <button class="btn btn-primary btn-sm btn-block"
                                                        th:text="${current.shop}"
                                                        type="submit"></button>
                                            </td>
                                            <td th:text="${current.remainsShop}"></td>
                                            <td th:text="${current.remainsPhone}"></td>
                                            <td th:text="${current.sale1}"></td>
                                            <td th:text="${current.sale6}"></td>
                                            <td th:text="${current.order}"></td>


                                            </span>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="table" id="table_clotherRemanisCase">
                                <table class="table-responsive table-hover" id="tables_clotherRemanisCase">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 themed-grid-col">
                        <div class="remainsGroupShopCaseAll" th:fragment="remainsGroupShopCaseAll">
                            <table class="table-borderless table-hover" >
                                <thead>
                                <tr>
                                    <th id="TT_Case">------ТТ-----</th>
                                    <th>ОСТАТОК</th>
                                    <th>ОСТАТОК ТЕЛ</th>
                                    <th>ПРОД 1М</th>
                                    <th>ПРОД 6/3М</th>
                                    <th>ПОТРЕБНОСТЬ</th>
                                    <th>СКЛАД 1</th>
                                    <th>СКЛАД 2</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="fixed_header">

                                <table class="table-borderless table-hover" >


                                    <tbody class="labels" th:each="current:${remainsGroupShopCaseAll}" >

                                    <tr style="border:2px solid rgb(240, 240, 240);">
                                    <span th:if="${current.view == 'Case'}">
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block minMatrix"
                                                    th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                       </span>
                                    </tr>

                                    <tr th:each="currents:${current.all}" class="hide_minMatrix">
                                        <td th:text="${currents.nomenclature}"></td>
                                        <td th:text="${currents.remainsShop}"></td>
                                        <td th:text="${currents.remainsPhone}"></td>
                                        <td th:text="${currents.sale1}"></td>
                                        <td th:text="${currents.sale6}"></td>
                                        <td > <input name="" id="" class="changeCase" th:value="${currents.order}"></td>
                                        <td th:text="${currents.remainsCash1}"></td>
                                        <td th:text="${currents.remainsCash2}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="row">

                            <div class="remainsCashCase" th:fragment="remainsCashCase">
                                <div class="table_CashGlass">
                                    <table class="table-borderless">
                                        <thead>
                                        <tr>
                                            <th id="Model_Case">МОДЕЛЬ</th>
                                            <th>cash</th>
                                            <th>cash1</th>

                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <tr th:each="current : ${RemainsCash}">
                                        <span th:if="${current.view == 'Case'}">
                                        <td th:text="${current.nomenclature}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                        </span>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="row"><span class="fs-4"></span></div>
                        <div class="row">
                            <div class="AccessoriesCategoryMaxSale" th:fragment="AccessoriesCategoryMaxSale">

                                <div class="table" id="table_phoneRemanisShopCase">
                                    <table class="table-responsive table-hover" id="tables_phoneRemanisShopCase">
                                        <thead>

                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="table_OrderRecommendations">
                            <table class="table-borderless">
                                <thead>
                                <tr>
                                    <th>ТТ</th>
                                    <th>ОСТАТОК</th>
                                    <th>ОСТАТОК ТЕЛ</th>
                                    <th>ПРОД 1М</th>
                                    <th>ПРОД 6/3М</th>
                                    <th>ПОТРЕБНОСТЬ</th>


                                </tr>
                                </thead>
                                <tbody class="tbody">
                                <tr th:each="current : ${OrderRecommendations}">
                                        <span th:if="${current.view == 'Case'}">
                                         <td th:text="${current.group}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>

                                        </span>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row mb-3 text-center">
                            <a href="/ExselFileExporteClotingPhone" class="btn">EXSEL</a>
                        </div>

                    </div>
                </div>
            </div>
            <div id="menu2" class="container-fluid tab-pane fade"><br>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="table_CoverBook">
                                <table class="table-borderless">
                                    <thead>
                                    <tr>
                                        <th>МОДЕЛЬ</th>
                                        <th>ОСТАТОК СК1</th>
                                        <th>ОСТАТОК СК2</th>


                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="current : ${RemainsGroupCash}">
                                         <span th:if="${current.view == 'CoverBook'}">
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block" th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>

                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                        </span>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">


                            <div class="remainsGroupShopCoverBook" th:fragment="remainsGroupShopCoverBook">
                                <div class="table_CoverBook">
                                    <table class="table-borderless">
                                        <thead>
                                        <tr>
                                            <th>ТТ</th>
                                            <th>ОСТАТОК</th>
                                            <th>ОСТАТОК ТЕЛ</th>
                                            <th>ПРОД 1М</th>
                                            <th>ПРОД 6/3М</th>
                                            <th>ПОТРЕБНОСТЬ</th>

                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <tr th:each="current:${RemainsGroupShop}">
                                            <span th:if="${current.view == 'CoverBook'}">
                                            <td>
                                                <button class="btn btn-primary btn-sm btn-block"
                                                        th:text="${current.shop}"
                                                        type="submit"></button>
                                            </td>
                                            <td th:text="${current.remainsShop}"></td>
                                            <td th:text="${current.remainsPhone}"></td>
                                            <td th:text="${current.sale1}"></td>
                                            <td th:text="${current.sale6}"></td>
                                            <td th:text="${current.order}"></td>


                                            </span>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="table" id="table_clotherRemanisCoverBook">
                                <table class="table-responsive table-hover" id="tables_clotherRemanisCoverBook">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 themed-grid-col">
                        <div class="remainsGroupShopCoverBookAll" th:fragment="remainsGroupShopCoverBookAll">
                            <table class="table-borderless table-hover" >
                                <thead>
                                <tr>
                                    <th id="TT_CoverBook">------ТТ-----</th>
                                    <th>ОСТАТОК</th>
                                    <th>ОСТАТОК ТЕЛ</th>
                                    <th>ПРОД 1М</th>
                                    <th>ПРОД 6/3М</th>
                                    <th>ПОТРЕБНОСТЬ</th>
                                    <th>СКЛАД 1</th>
                                    <th>СКЛАД 2</th>
                                </tr>
                                </thead>
                            </table>
                            <div class="fixed_header">

                                <table class="table-borderless table-hover" >


                                    <tbody class="labels" th:each="current:${remainsGroupShopCoverBookAll}" >

                                    <tr style="border:2px solid rgb(240, 240, 240);">
                                    <span th:if="${current.view == 'CoverBook'}">
                                        <td>
                                            <button class="btn btn-primary btn-sm btn-block minMatrix"
                                                    th:text="${current.group}"
                                                    type="submit"></button>
                                        </td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                       </span>
                                    </tr>

                                    <tr th:each="currents:${current.all}" class="hide_minMatrix">
                                        <td th:text="${currents.nomenclature}"></td>
                                        <td th:text="${currents.remainsShop}"></td>
                                        <td th:text="${currents.remainsPhone}"></td>
                                        <td th:text="${currents.sale1}"></td>
                                        <td th:text="${currents.sale6}"></td>
                                        <td > <input name="" id="" class="changeCoverBook" th:value="${currents.order}"></td>
                                        <td th:text="${currents.remainsCash1}"></td>
                                        <td th:text="${currents.remainsCash2}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="row">

                            <div class="remainsCashCoverBook" th:fragment="remainsCashCoverBook">
                                <div class="table_CashGlass">
                                    <table class="table-borderless">
                                        <thead>
                                        <tr>
                                            <th id="Model_CoverBook">МОДЕЛЬ</th>
                                            <th>cash</th>
                                            <th>cash1</th>

                                        </tr>
                                        </thead>
                                        <tbody class="tbody">
                                        <tr th:each="current : ${RemainsCash}">
                                        <span th:if="${current.view == 'CoverBook'}">
                                        <td th:text="${current.nomenclature}"></td>
                                        <td th:text="${current.remainsCash1}"></td>
                                        <td th:text="${current.remainsCash2}"></td>
                                        </span>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </div>
                        <div class="row"><span class="fs-4"></span></div>
                        <div class="row">
                            <div class="AccessoriesCategoryMaxSale" th:fragment="AccessoriesCategoryMaxSale">

                                <div class="table" id="table_phoneRemanisShopCoverBook">
                                    <table class="table-responsive table-hover" id="tables_phoneRemanisShopCoverBook">
                                        <thead>

                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row-1">
                        <div class="container-sm themed-container text-center">
                            <div class="table_OrderRecommendations">
                                <table class="table-responsive table-hover">
                                    <thead class="table-dark table-hover">
                                    <tr>
                                        <th>МОДЕЛЬ</th>
                                        <th>ОСТАТОК ТЕЛ</th>
                                        <th>ОСТАТОК ТТ</th>
                                        <th>ПРОД 1М</th>
                                        <th>ПРОД 6/3М</th>
                                        <th>ПОТРЕБНОСТЬ</th>


                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="current : ${OrderRecommendations}">
                                        <span th:if="${current.view == 'CoverBook'}">
                                       <td th:text="${current.group}"></td>
                                        <td th:text="${current.remainsPhone}"></td>
                                        <td th:text="${current.remainsShop}"></td>
                                        <td th:text="${current.sale1}"></td>
                                        <td th:text="${current.sale6}"></td>
                                        <td th:text="${current.order}"></td>

                                        </span>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row mb-3 text-center">
                            <a href="/ExselFileExporteClotingPhone" class="btn">EXSEL</a>
                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>


</main>


<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</body>
</html>