

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CSS/bonuses.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<br>

<div class="container-xxl themed-container">
    <h2>MARWEL</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">Menu 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu4">Menu 4</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <h3>HOME</h3>
            <div class="row">
                <h5 class="mt-4">ОТЧЕТЫ MARWEL</h5>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>

                        <th>models</th>
                        <th>Модель</th>
                        <th>price</th>
                        <th>price_promo</th>


                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="current : ${promoCode}">

                        <td th:text = "${current.PromoCode}"></td>
                        <td th:text = "${current.ArticleNumber}"></td>
                        <td th:text = "${current.Collecting}"></td>
                        <td th:text = "${current.Status}"></td>


                    </tbody>
                </table>



            </div>
            <div class="row mb-3">
                <div class="col-md-3 themed-grid-col"></div>
                <div class="col-md-6 themed-grid-col">
                    <div class="row mb-3">
                        <div class="col-6 col-sm-4 themed-grid-col">
                            <form th:action="@{/importRemainingPhonesMarwel}" method="post" enctype="multipart/form-data">
                                <input type="file" th:name="importRemainingPhonesMarwel" />
                                <input th:type="submit" value="Import" />
                            </form>
                        </div>
                        <div class="col-6 col-sm-4 themed-grid-col"></div>
                        <div class="col-6 col-sm-4 themed-grid-col">Остатки для загрузки на портал</div>

                    </div>
                </div>
                <div class="col-md-3 themed-grid-col"></div>
            </div>
        </div>


        <div id="menu1" class="container tab-pane fade"><br>
            <h3>Отчет для загрузки на портал</h3>
            <div class="row mb-3">
                <div class="col-md-8 themed-grid-col">
                    <form action="/portalMarwel" method="post" >
                    <div class="row mb-3">

                        <div class="col-6 col-md-4 themed-grid-col"><input type="date"  name="start" id="start"></div>
                        <div class="col-6 col-md-4 themed-grid-col"><input type="date"  name="stop" id="stop"></div>
                        <div class="col-6 col-md-4 themed-grid-col"><button class="btn btn-primary btn-sm" type="submit">Показать</button></div>

                    </div>
                </form>
                </div>
                <div class="col-6 col-md-4 themed-grid-col">
                    <div class="col-6 col-md-4 themed-grid-col">
                        <form action="" method="post" >
                        <button class="btn btn-primary btn-sm" type="submit">EXSEL</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6 themed-grid-col">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>

                            <th>Артикул производителя</th>
                            <th>Наименование</th>
                            <th>Продажи</th>
                            <th>Остатки</th>



                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="current : ${MARWEL}">

                            <td th:text = "${current.models}"></td>
                            <td th:text = "${current.imei}"></td>
                            <td th:text = "${current.dataSale}"></td>
                            <td th:text = "${current.dataPeriod}"></td>



                        </tbody>
                    </table>
                </div>
                <div class="col-6 themed-grid-col">
                    <table class="table table-dark table-hover">
                        <thead>
                        <tr>

                            <th>Артикул производителя</th>
                            <th>IMEI</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="current : ${article_imei}">

                            <td th:text = "${current.article}"></td>
                            <td th:text = "${current.imei}"></td>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <h3>Отчет для Ромы</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu3" class="container tab-pane fade"><br>
            <h3>Классификатор Marwel</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
        <div id="menu4" class="container tab-pane fade"><br>
            <h3>Promo Marwel</h3>
            <div class="row">
                <h5 class="mt-4">ОТЧЕТЫ MARWEL</h5>
                <table class="table table-dark table-hover">
                    <thead>
                    <tr>

                        <th>Код Промо</th>



                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="current : ${promoCodeDistinct}">

                        <td th:text = "${current.one}"></td>



                    </tbody>
                </table>



            </div>
        </div>
    </div>
</div>

</body>
</html>
