<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CSS/promo.css}" />
    <script type="text/javascript" th:src="@{/JS/promo.js}"></script>
    <title th:text="${title}"/>
</head>


<body class="py-4">

<main >

    <header>
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container-xxl themed-container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/entrance" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg><ya-tr-span data-index="50-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Home " data-translation=" Главная " data-type="trSpan">  Главная  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg><ya-tr-span data-index="51-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Dashboard " data-translation=" Информационная панель " data-type="trSpan">  Информационная панель  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="/loading" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg><ya-tr-span data-index="52-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Orders " data-translation=" Заказы " data-type="trSpan">  Загрузки  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg><ya-tr-span data-index="53-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Products " data-translation=" Продукты " data-type="trSpan">  Продукты  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg><ya-tr-span data-index="54-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Customers " data-translation=" Клиенты " data-type="trSpan">  Клиенты  </ya-tr-span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">

        <div class="row mb-3">
            <div class="col-6 themed-grid-col">
                <p th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" />
                <form  action="/add_phone" method="post">
                    <div class="row mb-3">
                        <div class="col-md-8 themed-grid-col">
                            <div class="row mb-3">
                                <!-- Модальное окно
                <div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" id="hide" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Закрыть"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">


                                    <div class="row">
                                        <button type="button" class="btn btn-sm">ADD кластер</button>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">модель распределения</div>
                                        <div class="col-md-6">
                                            <input type="text" name="Promo_price" id="Promo_price" placeholder="Введите имя"  />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">кластер</div>
                                        <div class="col-md-6">количество</div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary">Понял</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                                <div class="col-6 themed-grid-col">
                                    <input type="hidden" name="IDupdate" id="IDupdate" value="0">
                                </div>
                                <div class="col-6 themed-grid-col">

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6 themed-grid-col">
                                    <label>Бренд</label>
                                    <select id="brend" name="brend" >
                                        <option value="">----</option>
                                        <option th:each="phone : ${phones}"
                                                th:value="${phone.one}"
                                                th:text="${phone.one}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col-6 themed-grid-col">
                                    <label >Модель</label>
                                    <select id="models" name="models" >
                                        <option value="">---</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6 themed-grid-col">
                                    <label >Начало</label>
                                    <input type="date"  class="date" name="start_date" id="start_date" placeholder="Введите имя"  />
                                </div>
                                <div class="col-6 themed-grid-col">
                                    <label >Конец</label>
                                    <input type="date"  class="date" name="end_date" id="end_date" placeholder="Введите имя"  />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6 themed-grid-col">
                                    <label >Цена</label>
                                    <input type="text" name="price" id="price" placeholder="Введите имя">
                                </div>
                                <div class="col-6 themed-grid-col">
                                    <label >Promo цена</label>
                                    <input type="text" name="Promo_price" id="Promo_price" placeholder="Введите имя"  />
                                </div>
                            </div>
                            <div class="col-md-8 themed-grid-col">
                                <div class="row">
                                <div class="col-3 themed-grid-col">
                                    <label >Marwel</label>
                                    <input type="text" name="Marwel" id="Marwel"  />
                                </div>
                                <div class="col-3 themed-grid-col">
                                    <label >TFN</label>
                                    <input type="text" name="TFN" id="TFN"  />
                                </div>
                                <div class="col-3 themed-grid-col">
                                    <label >ВВП</label>
                                    <input type="text" name="ВВП" id="ВВП" />
                                </div>
                                <div class="col-3 themed-grid-col">
                                    <label >Merlion</label>
                                    <input type="text" name="Merlion" id="Merlion"  />
                                </div>
                                </div>
                            </div>
                            <div class="row mb-3">

                            </div>
                        </div>
                        <div class="col-6 col-md-4 themed-grid-col"><button class="btn" type="submit">Сохранить</button></div>
                    </div>
                </form>
                <form action="/search" method="post" >
                    <div class="row mb-3">
                        <div class="col-md-8 themed-grid-col">

                            <div class="row mb-3">
                                <div class="col-6 col-md-4 themed-grid-col"> <label >Select dips</label>
                                    <select  id="searchModels" name="searchModels" >
                                        <option th:each="phone : ${phones}"
                                                th:value="${phone.one}"
                                                th:text="${phone.one}"></option>
                                    </select></div>
                                <div class="col-6 col-md-4 themed-grid-col"><label>До</label>
                                    <input type="date" class="date"  id="startSearch" name="startSearch"/></div>
                                <div class="col-6 col-md-4 themed-grid-col"><label>До</label>
                                    <input type="date" class="date"  id="endSearch" name="endSearch"/></div>
                            </div>
                        </div>
                        <div class="col-md-4 themed-grid-col"><button type="submit" class="btn">Поиск</button></div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-6 themed-grid-col">
                <form action="/reset" method="post" >
                    <button  type="submit" class="btn">Сбросить</button>
                </form>
                    </div>
                        <div class="col-md-6 themed-grid-col">

                        <a href="/exsel" class="btn">EXSEL</a>

                        </div>
                </div>


            </div>

            <div class="col-6 themed-grid-col">
                <div class="row mb-3">
                    <h8 class="mt-4">Текущее PROMO</h8>
                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th>models</th>
                            <th>price</th>
                            <th>price_promo</th>
                            <th>start_promo</th>
                            <th>end_promo</th>


                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="current : ${current_promo}">

                            <td th:text = "${current.models}"></td>
                            <td th:text = "${current.price}"></td>
                            <td th:text = "${current.price_promo}"></td>
                            <td th:text = "${#dates.format (current.StartPromo, 'dd-MM-yyy')}"></td>
                            <td th:text = "${#dates.format (current.EndPromo, 'dd-MM-yyy')}"></td>


                        </tbody>
                    </table>
                </div>
                <div class="row mb-3">
                    <div class="col-6 themed-grid-col">
                        <h8 class="mt-4">СТАРТ PROMO</h8>
                        <table class="table table-hover">
                            <thead>
                            <tr>

                                <th>models</th>
                                <th>price</th>
                                <th>price_promo</th>
                                <th>end_promo</th>


                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="start : ${startpromo}">

                                <td th:text = "${start.models}"></td>
                                <td th:text = "${start.price}"></td>
                                <td th:text = "${start.price_promo}"></td>
                                <td th:text = "${#dates.format (start.startPromo, 'dd-MM-yyy')}"></td>


                            </tbody>
                        </table></div>
                    <div class="col-6 themed-grid-col">
                        <h8 class="mt-4">КОНЕЦ PROMO</h8>
                        <table class="table table-hover">
                            <thead>
                            <tr>

                                <th>models</th>
                                <th>price</th>
                                <th>end_promo</th>


                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="current : ${endpromo}">

                                <td th:text = "${current.models}"></td>
                                <td th:text = "${current.price}"></td>
                                <td th:text = "${#dates.format (current.EndPromo, 'dd-MM-yyy')}"></td>


                            </tbody>
                        </table></div>
                </div>

            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>brend</th>
                    <th>models</th>
                    <th>price</th>
                    <th>price_promo</th>
                    <th>start_promo</th>
                    <th>end_promo</th>
                    <th>marwel</th>
                    <th>tfn</th>
                    <th>vvp</th>
                    <th>merlion</th>
                    <th>           </th>
                    <th>           </th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="promo : ${all_promo}">

                    <td th:text = "${promo.brend}"></td>
                    <td th:text = "${promo.models}"></td>
                    <td th:text = "${promo.price}"></td>
                    <td th:text = "${promo.price_promo}"></td>
                    <td th:text = "${#dates.format (promo.startPromo, 'dd-MM-yyy')}"></td>
                    <td th:text = "${#dates.format (promo.endPromo, 'dd-MM-yyy')}"></td>
                    <td th:text = "${promo.marwel}"></td>
                    <td th:text = "${promo.tfn}"></td>
                    <td th:text = "${promo.vvp}"></td>
                    <td th:text = "${promo.merlion}"></td>

                    <td> <a th:href="@{/update/{id}(id = ${promo.id})}" class="btn" > <span th:text="update"></span>
                    </a></td>
                    <form id="form" action="/delet" method="post">
                        <input type="hidden" id="ID" name="ID" th:value="${promo.id}">

                        <td> <button type="submit" >delet</button></td>

                    </form>

                </tbody>
            </table>

        </div>
        <div class="row mb-3">
            <div class="col-6 themed-grid-col">
                <h5 class="mt-4">Текущее PROMO MARWEL</h5>
            <table class="table table-hover">
                <thead>
                <tr>

                    <th>models</th>
                    <th>price</th>
                    <th>price_promo</th>
                    <th>start_promo</th>
                    <th>end_promo</th>
                    <th>Compensation</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="current : ${current_promoMarwel}">

                    <td th:text = "${current.ArticleNumber}">fbf</td>
                    <td th:text = "${current.Vision}"></td>
                    <td th:text = "${current.NewVision}"></td>
                    <td th:text = "${#dates.format (current.StartPromo, 'dd-MM-yyy')}"></td>
                    <td th:text = "${#dates.format (current.EndPromo, 'dd-MM-yyy')}"></td>
                    <td th:text = "${current.Compensation}"></td>

                </tbody>
            </table>
            </div>
            <div class="col-6 themed-grid-col">
                <h5 class="mt-4">Текущее PROMO VVP</h5>
                <table class="table table-hover">
                    <thead>
                    <tr>

                        <th>models</th>
                        <th>price</th>
                        <th>price_promo</th>
                        <th>start_promo</th>
                        <th>end_promo</th>
                        <th>Compensation</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="current : ${current_promoVVP}">

                        <td th:text = "${current.Model}"></td>
                        <td th:text = "${current.Price}"></td>
                        <td th:text = "${current.PricePromo}"></td>
                        <td th:text = "${#dates.format (current.StartPromo, 'dd-MM-yyy')}"></td>
                        <td th:text = "${#dates.format (current.EndPromo, 'dd-MM-yyy')}"></td>
                        <td th:text = "${current.DiscountUE}"></td>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
        <h5 class="mt-4">ОТЧЕТЫ MARWEL</h5>
        <table class="table table-hover">
            <thead>
            <tr>

                <th>models</th>
                <th>price</th>
                <th>price_promo</th>


            </tr>
            </thead>
            <tbody>

            <tr th:each="current : ${promoCode}">

                <td th:text = "${current.PromoCode}"></td>
                <td th:text = "${current.Collecting}"></td>
                <td th:text = "${current.Status}"></td>


            </tbody>
        </table>



    </div>
    </div>


</main>




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


</body>
</html>