<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>

    <script src="http://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CSS/promo.css}" />
    <title th:text="${title}"/>
</head>


<body class="d-flex h-100 text-center text-white bg-dark">

<main>

    <header>
        <div class="px-3 py-2 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="#" class="nav-link text-secondary">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg><ya-tr-span data-index="50-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Home " data-translation=" Главная " data-type="trSpan">  Главная  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg><ya-tr-span data-index="51-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Dashboard " data-translation=" Информационная панель " data-type="trSpan">  Информационная панель  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg><ya-tr-span data-index="52-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Orders " data-translation=" Заказы " data-type="trSpan">  Заказы  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg><ya-tr-span data-index="53-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Products " data-translation=" Продукты " data-type="trSpan">  Продукты  </ya-tr-span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg><ya-tr-span data-index="54-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value=" Customers " data-translation=" Клиенты " data-type="trSpan">  Клиенты  </ya-tr-span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container" id="container">
    <div id="main_2" style="position: absolute">
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
        <div id="sidebar">Правый сайдбар</div>
    </div>
    <div id="main" >
        <div id="content">
                        <form  action="/add_phone" method="post">
                          <div id="menu">
                            <div class="grid-container">
                                <div class="grid-item color1" th:object="${phone}">
                                    <label>Бренд</label>
                                    <select id="brend" name="brend" >
                                        <option value="">----</option>
                                        <option th:each="phone : ${phones}"
                                                th:value="${phone.one}"
                                                th:text="${phone.one}">
                                        </option>
                                    </select>
                                    <label >Модель</label>
                                    <select id="models" name="models">

                                        <option value="">----
                                        <option >pizza
                                        </option>

                                    </select>
                                </div>
                                <div class="grid-item color2">
                                    <label >Цена</label>
                                    <input type="text" name="price" id="price" placeholder="Введите имя">
                                    <label >Promo цена</label>
                                    <input type="text" name="Promo_price" placeholder="Введите имя"  />
                                </div>
                                <div class="grid-item color3">
                                    <label >Начало</label>
                                    <input type="date" class="date" name="start_date" placeholder="Введите имя"  />
                                    <label >Конец</label>
                                    <input type="date" class="date" name="end_date" placeholder="Введите имя"  />
                                </div>
                                <div class="grid-item color4">
                                    <label >Marwel</label>
                                    <input type="text" name="Marwel" id="Marwel" size = "5" />
                                    <label >TFN</label>
                                    <input type="text" name="TFN" size = "5" />
                                    <label >ВВП</label>
                                    <input type="text" name="ВВП" size = "5" />
                                    <label >Merlion</label>
                                    <input type="text" name="Merlion" size = "5" />
                                </div>

                            </div>
                              <button type="submit">Сохранить</button>
                            </div>
                        </form>
        </div>
        <div id="content">
            <form method="post" >
            <label >Select dips</label>
            <select>

                <option value="">Введите имя
                <option >pizza
                </option>

            </select>
            <label>До</label>
            <input type="date" class="date"  id="date" name="date_do"/>
            <label>До</label>
            <input type="date" class="date"  id="date" name="date_do"/>
            <button type="submit">Поиск</button>
            </form>
        </div>
        <div id="content">Основное содержимое
<div class="container">
    <div class="row">
<table class="table">
<thead>
<tr>
    <th>brend</th>
    <th>models</th>
    <th>price</th>
    <th>price_promo</th>
    <th>start_promo</th>
    <th>end_promo</th>
    <th>marwel</th>
    <th>tfn</th>
    <th>vvp</th>
    <th>merlion</th>
</tr>
</thead>
    <tbody>
<tr th:each="promo : ${all_promo}">
    <td th:text = "${promo.brend}"></td>
    <td th:text = "${promo.models}"></td>
    <td th:text = "${promo.price}"></td>
    <td th:text = "${promo.price_promo}"></td>
    <td th:text = "${promo.start_promo}"></td>
    <td th:text = "${promo.end_promo}"></td>
    <td th:text = "${promo.marwel}"></td>
    <td th:text = "${promo.tfn}"></td>
    <td th:text = "${promo.vvp}"></td>
    <td th:text = "${promo.merlion}"></td>
</tr>
    </tbody>
</table>
    </div>
</div>
    </div>

    </div>
    </div>
</main>




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
$(document).ready(function(){
  $('#brend').on('change', function(){
     var brend = $(this).val();
       $.ajax({

       	url: "/brend/" + brend,
		type: "GET",

	success: function(data) {

    var data = JSON.parse(data);
    			var s = '';
				for(var i = 0; i < data.length; i++) {
					s += '<option value="' + data[i].one + '">' + data[i].one + '</option>';
					}
				$('#models').html(s);
				}
	});
   return false;
  });

     $('#models').on('change', function(){
         var mode = $(this).val();

s = mode.replace("/", "_");
console.log(s);
                $.ajax({

                        type: "GET",
                        url: "/mode/" + s,

	                        success: function(data) {
	                        console.log(data);
                            $('#price').val(data);
                        }

                });
        });

 });
</script>

</body>
</html>